<div class="jumbotron">
  <div class="container">
	<% unless current_user %>
	  <h1>Bienvenue !</h1>
	<% else %>
	  <h1 class="display-3">Bienvenue <%= current_user.first_name %> !</h1>
	<% end %>      
    <p>Eventbrite rapproche les gens grâce à des expériences en direct. Découvrez des événements qui correspondent à vos passions ou créez votre propre événement...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
  </div>
</div>


<div class="container">
    <h2>Nos événements</h2>

    <div class="row">
      <% i = 0
	  @events.each do |event| %>
	  <div class="col-lg-4 mb-4 md-4 t-4">
	  	<div class="card h-100 text-center">
	  	  <%if @events[i].event_picture.attached?%>
	  	    <%= image_tag @events[i].event_picture, alt: 'event_picture' %>
	  	  <%else%>
  		    <p>=== Il n'y a pas encore de photo lié à cet événement ===</p>
	  	  <%end%>
	  	  
	  	  <div class="card-body">
	  	    <h4 class="card-title"><%=@events[i].title%></h4>
	  	    <h6 class="card-subtitle mb-2 text-muted">Le <%=@events[i].start_date%>, à <%=@events[i].location%>, pendant <%=@events[i].duration%> heure(s)</h6>
	        <p class="card-text"><%=@events[i].description%></p>
	      </div>
	    
	      <div class="card-footer">
            <a class="btn btn-secondary" href="<%= event_path(@events[i].id)%>" role="button">View details »</a>
          </div>
	      
	    </div>
	    <% i += 1 
	    end %>
	  </div>
	</div>
</div>


      